@import 'styles/colors';
@import 'styles/fonts';
@import 'styles/breakpoints';

@font-face {
    font-family: 'Cookie';
    font-style: normal;
    font-weight: 400;
    src: local('Cookie-Regular'),
        url('/static/fonts/cookie-regular.woff2') format('woff2'),
        url('/static/fonts/cookie-regular.woff') format('woff');
}

@font-face {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 700;
    src: local('Amatic SC Bold'), local('AmaticSC-Bold'),
        url('/static/fonts/amatic-sc-bold.woff2') format('woff2'),
        url('/static/fonts/amatic-sc-bold.woff') format('woff');
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'),
        url('/static/fonts/roboto-slab-bold.woff2') format('woff2'),
        url('/static/fonts/roboto-slab-bold.woff') format('woff');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'),
        url('/static/fonts/roboto-condensed-light.woff2') format('woff2'),
        url('/static/fonts/roboto-condensed-light.woff') format('woff');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
        url('/static/fonts/roboto-condensed-regular.woff2') format('woff2'),
        url('/static/fonts/roboto-condensed-regular.woff') format('woff');
}

:global {
    html {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        -webkit-tap-highlight-color: transparent;
        touch-action: manipulation;
        box-sizing: border-box;
        font-family: $fontRobotoCondensed;
        font-size: 62.5%;
    }

    body {
        font-size: 1.6rem;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        padding: 0;
    }

    p,
    figure {
        margin: 0;
    }

    img {
        max-width: 100%;
    }

    button {
        cursor: pointer;
        appearance: none;
        border: none;
        background-color: transparent;
    }

    ._landingHeadline {
        @include tablet {
        }
        @include largeDesktop {
        }
        @include hugeDesktop {
        }
    }
}
