@import 'styles/fonts';
@import 'styles/colors';
@import 'styles/breakpoints';

.footer {
    padding: 2rem 0;
    text-align: center;
}

@include tablet {
    .footer {
        padding: 2rem 0;
    }
}

@include desktop {
    .footer {
        padding: 3rem 0;
    }
}
