$fontCookie: 'Cookie', sans-serif !default;
$fontAmatic: 'Amatic SC', sans-serif !default;
$fontRobotoSlab: 'Roboto Slab', sans-serif !default;
$fontRobotoCondensed: 'Roboto Condensed', sans-serif !default;
